@function shadow-string($color1, $color2, $length){
    $total-length: $length;
    $string: $color1 0px 0px;
    @while $length > 0 {
        $mix-amount: 100 - (($length / $total-length) * 100);
        $mixed-color: mix($color1,$color2, $mix-amount);
        $string-addition: -$length+px $length+px;
        $string: $mixed-color $string-addition, $string;
        $length: $length - 1;  
    }
    @return $string
}

@mixin longshadow($color1, $color2, $length) {  
    text-shadow: shadow-string($color1, $color2, $length);    
}

.general-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow-y: auto;

    iframe {
        margin-top: 1rem;
    }
}




.front-flyer {
    .content {
        display: inline-block;
        width: 100%;
        padding: 7rem 2rem;

        img.flyer {
            float: right;
            max-height: 32rem;
        }
    }

    .logo-image {
        position: absolute;
        -o-object-fit: cover;
        height: calc(100vh - 35vh);
        margin-top: -4rem;
        margin-left: 3rem;
    }

    .logo-text {
        position: absolute;
        top: 50%;
        font-size: 9vw;
        line-height:1;
        text-align: right;
        right: 4rem;
        /*border: 2px dashed white; */
        padding: 0.75rem;
        margin: 3rem 0 0 0;
        /* text-shadow: 6px -9px 0 #5b78f8; */
        transform: translateY(-50%);
    }

    .row-button-suscribe {
        position: absolute;
        bottom: 0;
        left: 3rem;
        z-index: 999;

        .project-description {
            width: 400px;
            text-align: justify;
        }

        a {
            height: 3rem;
            line-height: 42px;
        }
    }
}


.section {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    padding: 90px 56px;

    img.main-image {
        display: inline-block;
        vertical-align: middle;
        width: 1100px;
        height: 100%;
        border-radius: 20px;
        max-width: 100%;
    }

    &.fechas {
        h1 {
            font-size: 5rem;
            margin: 0 0 0 20%;
            font-weight: 800;
            @include longshadow(#8a32f7, #2d0f52, 160);
        }
    }
}

.my-icon {
    height: 40px;
}

.section.intro {
    padding: 160px;
}

.bg-image-cover.retos {
    .center-title {
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        position: absolute;
        font-size: 25vw;;
    }
}

@media (max-width: 991px) {
    .section {
        padding: 50px;

        img.main-image {
            height: 100%; // 680px;
            object-fit: contain;
        }
    }
}
@media (max-width: 767px) {
    .section {
        padding: 32px 25px;

        img.main-image {
            height: 100%; //380px;
        }
    }
}
@media (max-width: 479px) {
    .section {
        padding: 25px 20px;

        img.main-image {
            height: 100%; //360px;
        }
    }
}



.glitch {
    font-size: 25vw;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-decoration: none;
    color: #fff;
    &:before,
    &:after{
      display: block;
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: .8;
    }
    &:after {
      color: #f0f;
      z-index: -2;
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
    }
    &:before {
      color: #0ff;
      z-index: -1;
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
    }
}

.crossed-row {
    height: 100vh;
    width: 1100px;
    transform: skew(0deg, 40deg);
    margin-top: -7rem;
    position: absolute;
    box-shadow: 0px 0px 10px #333;
}



.general-container {
    height: 1200px;

    .iframe-mobile {
        display: none;
    }

    .iframe-medium {
        display: block;
    }
}