
<div class="flyer-welcome berry">
  <div class="welcome-row">
    <!-- div class="border-gradient-chill">
        <h2 class="title white-text">Bacon is too awesome</h2>
    </div> -->
    <div class="welcome-col-text">
      <div class="centered-text">
          <h1>Del Closet A la Cancha</h1>
          <h4>¡Estamos en construcción!</h4>
          <p></p>
      </div>
    </div>
    <div class="welcome-col-image berry">
        <img class="flyer-image"
        src="../assets/gifs/glasses.gif"
        alt="">
    </div>
  </div>
</div>

<router-outlet></router-outlet>
