
<div class="general-container">
    <div class="row berry">
      <h1>Del Closet A la Cancha</h1>
      <h5>¡Estamos en construcción!</h5>
      <div class="col s12">
          <iframe [src]="getFormSource()"
          width="640" height="1110" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
    <div class="row" style="background: white;width: 100%;height: 6rem;margin-top: -7rem;z-index: 3;margin-bottom: 0">
      <div class="col s4"></div>
    </div>
  <router-outlet></router-outlet>
</div>
