<div class="white front-flyer">
  <div class="content">
      <img class="responsive-img flyer" src="../assets/img/logo-all.png" alt="logo en text, del closet a la cancha y escudo de colores">
  </div>

  <div class="row low-padding no-margin yellow center">
      <p class="black-text bold">Deporte sin discriminación</p>
  </div>

      <p class="white-text logo-text no-margin none">
        DEL<br/>CLOSET<br/>A LA<br/>CANCHA<br/>
      </p>

      <div class="row row-button-suscribe none">
          <p class="white-text">Deporte sin discriminación</p>
          <p class="white-text regular-font project-description">
            Desde Julio de 2018 llevando alegría
            a muchas personas que nunca han sido
            aceptadas por el simple hecho de ser quienes son ellas mismas.</p>
          <a class="btn flat-btn blue none">Suscribíte</a>
      </div>
</div>

<div style="opacity: 1;" class="bg-image-cover relative basics sepia">
    <h1 scrollReveal class="glitch no-margin black-text" data-text="BASICS">BASICS</h1>
</div>


<div class="section mediumScreen yellow">
    <div scrollReveal class="section no-margin">
      <div class="row center margin-top margin-bottom">
          <h4 class="bold italic"> back <span class="black-text regular-font" style="font-size:1rem;margin-top:-1rem;font-style: normal"> to </span> </h4>
          <h1 class="bold big-font">BASICS</h1>
          <p class="center margin-top regular-font">¡Juego y música!</p>

          <img class="responsive-img" src="../assets/gifs/glasses.gif" alt="">
          <p class="bold">¡Partidos de 10 minutos!</p>
          <p class="regular-font"> En la canca se queda el equipo </p>
          <h4> ¡GANADOR! </h4>
      </div>
    </div>
</div>

<div style="opacity: 1;" class="bg-image-cover relative retos"></div>

<div class="section mediumScreen light-blue">
    <div scrollReveal class="section no-margin">
      <div class="row center margin-top margin-bottom">
          <h1 class="bold big-font white-text"><span class="blue light-blue-text white-shadow medium-padding">R</span>ETOS</h1>
          <p class="center margin-top regular-font">
              Integrantes de <span class="dcalc-span purple-text bold">DCALC</span>
          </p>

          <img class="responsive-img" src="../assets/gifs/training.gif" alt="">

          <div class="row center">
              <img class="my-icon" src="../assets/icons/run.png" alt="">
              <img class="my-icon" src="../assets/icons/running-shoe.png" alt="">
              <img class="my-icon" src="../assets/icons/medal.png" alt="">
              <img class="my-icon" src="../assets/icons/cup.png" alt="">
          </div>
          <hr class="pink" style="height: .1rem;border: none;width: 30%;"/>
          <p class="bold">¡Contra organizaciones y más!</p>
          <p class="regular-font"> Es un espacio en el que podemos dar a conocer más el proyecto.</p>
          <h4> ¡ZUMBA! </h4>
          <hr class="pink" style="height: .1rem;border: none;width: 80%;"/>
      </div>
    </div>
</div>

<div class="section white">
    <img scrollReveal class="main-image" src="../assets/img/casa-rara-mascaras.jpg" alt="">    
</div>

<div class="section mediumScreen white">
    <div scrollReveal class="section no-margin">
      <div class="row center margin-top margin-bottom">
          <h1 class="bold big-font">
            <span class="red-text">S</span>
            <span class="orange-text">H</span>
            <span class="yellow-text">O</span>
            <span class="green-text">W</span>
            <span class="blue-text">S</span> <br/>DE MEDIO TIEMPO
          </h1>
          <p class="center margin-top regular-font">
              Baile, música, canto, drama y mucho más.
          </p>

          <img class="responsive-img" src="../assets/gifs/dancing-rainbow.gif" alt="">

          <hr class="green" style="height: .1rem;border: none;width: 10%;"/>
          <hr class="purple" style="height: .1rem;border: none;width: 30%;"/>
          <p class="bold">¡En fechas especiales!</p>
          <p class="regular-font"> contaremos con la presencia de </p>
          <h4> ¡ARTISTAS! </h4>
          <hr class="red" style="height: .1rem;border: none;width: 60%;"/>
      </div>
    </div>
</div>

<div style="opacity: 1;" class="bg-image-cover relative sepia all-photos"></div>

<div class="section mediumScreen gray">
    <div scrollReveal class="section no-margin">
      <div class="row center margin-top margin-bottom">
          <h1 class="bold big-font"><span class="black gray-text white-shadow medium-padding">G</span>ENIAL</h1>
          <p class="center margin-top regular-font">"Del Closet a la cancha me ayudó a derribar muchos miedos y barreras que [yo] tenía en cuestión con el fútbol. ¡Es una experiencia increíble!"</p>

          <img class="responsive-img" src="../assets/gifs/jumping.gif" alt="">
          <p class="bold">¡En fechas especiales!</p>
          <p class="regular-font"> el calentamiento es con</p>
          <h4> ¡ZUMBA! </h4>
      </div>
    </div>
</div>






<div class="dark-purple-pink-tb fechas-flyer none">
  <div class="fullscreen relative">
      <div class="row center row-centered">
          <h1 class="white-text no-margin">FECHAS</h1>
          <h1 class="white-text script no-margin">Especiales</h1>
        </div>
      
        <div class="row row-middle center">
          <div class="col s12 m4 l4">
              <img class="zt-icons" src="../assets/icons/soccer-ball.png" alt="">
              <p class="white-text no-margin">2 horas de juego</p>
              <p class="light-font white-text no-margin">dedicados a una causa o fundación.</p>
          </div>
          <div class="col s12 m4 l4">
              <img class="zt-icons" src="../assets/icons/tap-dance.png" alt="">
              <p class="white-text no-margin">En gradería el Team Porrista</p>
          </div>
          <div class="col s12 m4 l4">
              <img class="zt-icons" src="../assets/icons/mirror-ball.png" alt="">
              <p class="white-text no-margin">Show de Medio Tiempo</p>
          </div>
        </div>

        <div class="row row-footer center">
          <div class="col s12 m6 l6">
              <img class="zt-icons" src="../assets/icons/zumba.png" alt="">
              <p class="white-text no-margin">Calentamiento con Zumba</p>
          </div>
          <div class="col s12 m6 l6">
              <img class="zt-icons" src="../assets/icons/kiss.png" alt="">
              <p class="white-text no-margin">Charla inicial</p>
              <p class="light-font no-margin white-text">dedicado al evento.</p>
          </div>
        </div>
  </div>

  <!-- <div class="fullscreen"></div> -->
</div>






<div class="general-container none">
  <div class="row berry">
    <div class="col s12 iframe-mobile">
        <iframe [src]="getFormSource()"
        width="340" height="1110" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    <div class="col s12 iframe-medium">
        <iframe [src]="getFormSource()"
        width="640" height="1110" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
  <div class="row" style="background: white;width: 100%;height: 6rem;margin-top: -7rem;z-index: 3;margin-bottom: 0">
    <div class="col s4"></div>
  </div>
<router-outlet></router-outlet>
</div>