
html, body { height: 100%; overflow-x: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fullscreen {
    height: 100vh;
}

.berry {
    width: 100%;
    background-color: white; // #fee50a;
}

.red {
    background-color: #d92d5a !important;
}

.yellow {
    background-color: #ffea01 !important;
}

.green {
    background-color: #0ed166 !important;
}